/*-- COLORS --*/


/*////////////////////  FLAT COLORS  //////////////////////*/

/*-- color-1 --*/
.color1{
	background: #653298 !important;
}
@media (max-width: 992px) {
	.color1 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #653298 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color1 .sticky-wrapper.is-sticky .hor-menu{
		background:#653298 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color1 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color1 .app-content .header-fixed{
	background:#653298 !important;
}
.body-dark.color1 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-2 --*/
.color2{
	background: #545353 !important;
}
@media (max-width: 992px) {
	.color2 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #545353 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color2 .sticky-wrapper.is-sticky .hor-menu{
		background:#545353 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color2 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color2 .app-content .header-fixed{
	background:#545353 !important;
}
.body-dark.color2 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-2 --*/
.color3{
	background: #526273 !important;
}
@media (max-width: 992px) {
	.color3 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #526273 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color3 .sticky-wrapper.is-sticky .hor-menu{
		background:#526273 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color3 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color3 .app-content .header-fixed{
	background:#526273 !important;
}
.body-dark.color3 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-4 --*/
.color4{
	background: #3546b1 !important;
}

@media (max-width: 992px) {
	.color4 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #3546b1 !important ;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color4 .sticky-wrapper.is-sticky .hor-menu{
		background:#3546b1 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color4 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color4 .app-content .header-fixed{
	background:#3546b1 !important;
}
.body-dark.color4 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-5 --*/
.color5{
	background: #5b5572 !important;
}
@media (max-width: 992px) {
	.color5 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #5b5572 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color5 .sticky-wrapper.is-sticky .hor-menu{
		background:#5b5572 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color5 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color5 .app-content .header-fixed{
	background:#5b5572 !important;
}
.body-dark.color5 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-6 --*/
.color6{
	background: #006666 !important;
}
@media (max-width: 992px) {
	.color6 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #006666 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color6 .sticky-wrapper.is-sticky .hor-menu{
		background:#006666 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color6 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color6 .app-content .header-fixed{
	background:#006666 !important;
}
.body-dark.color6 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-7 --*/
.color7{
	background: #723696 !important;
}
@media (max-width: 992px) {
	.color7 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #723696 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color7 .sticky-wrapper.is-sticky .hor-menu{
		background:#723696 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color7 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color7 .app-content .header-fixed{
	background:#723696 !important;
}
.body-dark.color7 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-8 --*/
.color8{
	background: #145388 !important;
}
@media (max-width: 992px) {
	.color8  .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #145388 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color8 .sticky-wrapper.is-sticky .hor-menu{
		background:#145388 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color8 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color8 .app-content .header-fixed{
	background:#145388 !important;
}
.body-dark.color8 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-9 --*/
.color9{
	background: #770467 !important;
}
@media (max-width: 992px) {
	.color9 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #770467 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color9 .sticky-wrapper.is-sticky .hor-menu{
		background:#770467 !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color9 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color9 .app-content .header-fixed{
	background:#770467 !important;
}
.body-dark.color9 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-10 --*/
.color10{
	background: #576a3d !important;
}
@media (max-width: 992px) {
	.color10 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: #576a3d !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color10 .sticky-wrapper.is-sticky .hor-menu{
		background:#576a3d !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color10 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color10 .app-content .header-fixed{
	background:#576a3d !important;
}
.body-dark.color10 .app-content .header-fixed{
	background:#37374a !important;
}

/*////////////////////  GRADIENT COLORS  //////////////////////*/


/*-- color-11 --*/
.color11{
	background: linear-gradient(to right, #3446b3, #8925b5) ;
}
@media (max-width: 992px) {
	.color11 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right, #3446b3, #8925b5);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color11 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #3446b3, #8925b5) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color11 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color11 .app-content .header-fixed{
	background:linear-gradient(to right, #3446b3, #8925b5) !important;
}
.body-dark.color11 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-12 --*/
.color12{
	background: linear-gradient(to right, #226c8c, #203A43) !important;
}
@media (max-width: 992px) {
	.color12 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right, #226c8c, #203A43) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color12 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #226c8c, #203A43) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color12 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color12 .app-content .header-fixed{
	background:linear-gradient(to right, #226c8c, #203A43) !important;
}
.body-dark.color12 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-13 --*/
.color13{
	background: linear-gradient(to right, #6c6882, #302856) !important;
}
@media (max-width: 992px) {
	.color13 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right, #6c6882, #302856) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color13 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #6c6882, #302856) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color13 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color13 .app-content .header-fixed{
	background:linear-gradient(to right, #6c6882, #302856) !important;
}
.body-dark.color13 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-14 --*/
.color14{
	background: linear-gradient(to right, #038878, #0b4039) !important;
}
@media (max-width: 992px) {
	.color14 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right, #038878, #0b4039) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color14 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #038878, #0b4039) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color14 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color14 .app-content .header-fixed{
	background:linear-gradient(to right, #038878, #0b4039) !important;
}
.body-dark.color14 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-15 --*/
.color15{
	background: linear-gradient(to right,#4248ca, #141761) !important;
}
@media (max-width: 992px) {
	.color15 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right,#4248ca, #141761) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color15 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right,#4248ca, #141761) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color15 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color15 .app-content .header-fixed{
	background:linear-gradient(to right,#4248ca, #141761) !important;
}
.body-dark.color15 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-16 --*/
.color16{
	background:linear-gradient(to right, #815eae, #4c1f86) !important;
}
@media (max-width: 992px) {
	.color16 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background: linear-gradient(to right, #815eae, #4c1f86) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color16 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #815eae, #4c1f86) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color16 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color16 .app-content .header-fixed{
	background:linear-gradient(to right, #815eae, #4c1f86) !important;
}
.body-dark.color16 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-17 --*/
.color17{
	background: linear-gradient(to right, #0c86ce, #3838af)  !important;
}
@media (max-width: 992px) {
	.color17 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  linear-gradient(to right, #0c86ce, #3838af) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color17 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #0c86ce, #3838af) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color17 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color17 .app-content .header-fixed{
	background:linear-gradient(to right, #0c86ce, #3838af) !important;
}
.body-dark.color17 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-18 --*/
.color18{
	background: linear-gradient(to right, #2a5470, #4c4177 ) !important;
}
@media (max-width: 992px) {
	.color18 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  linear-gradient(to right, #2a5470, #4c4177 ) !important ;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color18 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #2a5470, #4c4177 ) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color18 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color18 .app-content .header-fixed{
	background:linear-gradient(to right, #2a5470, #4c4177 ) !important;
}
.body-dark.color18 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-19 --*/
.color19{
	background: linear-gradient(to right, #980fb5, #4f055f) !important;
}
@media (max-width: 992px) {
	.color19 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  linear-gradient(to right, #980fb5, #4f055f) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color19 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #980fb5, #4f055f) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color19 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color19 .app-content .header-fixed{
	background:linear-gradient(to right, #980fb5, #4f055f) !important;
}
.body-dark.color19 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- color-20 --*/
.color20{
	background: linear-gradient(to right, #770467, #3d2a90) !important;
}
@media (max-width: 992px) {
	.color20 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  linear-gradient(to right, #770467, #3d2a90) !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.color20 .sticky-wrapper.is-sticky .hor-menu{
		background:linear-gradient(to right, #770467, #3d2a90) !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.color20 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.color20 .app-content .header-fixed{
	background:linear-gradient(to right, #770467, #3d2a90) !important;
}
.body-dark.color20 .app-content .header-fixed{
	background:#37374a !important;
}


/*////////////////////  BACKGROUND IMAGES  //////////////////////*/

/*-- image-1 --*/
.image1{
	background:url(../../assets/images/backgrounds/1.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}
@media (min-width: 1024px){
	.image1 {
		background:url(../../assets/images/backgrounds/1.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image1 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #3d4c55 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image1 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image1 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image1 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image1 .app-content .header-fixed{
	background:#37374a !important;
}
/*-- image-2 --*/
.image2{
	background:url(../../assets/images/backgrounds/2.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image2 {
		background:url(../../assets/images/backgrounds/2.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image2 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #614ca6 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image2 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image2 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image2 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image2 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-3 --*/
.image3{
	background:url(../../assets/images/backgrounds/3.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}
@media (min-width: 1024px){
	.image3 {
		background:url(../../assets/images/backgrounds/3.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image3 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #2a6fb0 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image3 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image3 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image3 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image3 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-4 --*/
.image4{
	background:url(../../assets/images/backgrounds/4.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}
@media (min-width: 1024px){
	.image4 {
		background:url(../../assets/images/backgrounds/4.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image4 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #8134a0 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image4 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image4 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image4 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image4 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-5 --*/
.image5{
	background:url(../../assets/images/backgrounds/5.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image5 {
		background:url(../../assets/images/backgrounds/5.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image5 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #5a51c1 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image5 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image5 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image5 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image5 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-6 --*/
.image6{
	background:url(../../assets/images/backgrounds/6.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image6 {
		background:url(../../assets/images/backgrounds/6.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image6  .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:   #525e9e !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image6 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image6 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image6 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image6 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-7 --*/
.image7{
	background:url(../../assets/images/backgrounds/7.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image7{
		background:url(../../assets/images/backgrounds/7.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image7 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #425145 !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image7 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image7 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image7 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image7 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-8 --*/
.image8{
	background:url(../../assets/images/backgrounds/8.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image8{
		background:url(../../assets/images/backgrounds/8.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image8 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #51778d !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image8 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image8 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image8 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image8 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-9 --*/
.image9{
	background:url(../../assets/images/backgrounds/9.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image9{
		background:url(../../assets/images/backgrounds/9.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image9 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #736579 !important; 
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image9 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image9 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image9 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image9 .app-content .header-fixed{
	background:#37374a !important;
}

/*-- image-10 --*/
.image10{
	background:url(../../assets/images/backgrounds/10.png) #000 no-repeat center center fixed !important;
	background-size: cover;
	height: 100vh;
}

@media (min-width: 1024px){
	.image10{
		background:url(../../assets/images/backgrounds/10.png) #000 !important;
		background-size: 100% 100% !important;
		background-attachment: fixed !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}
@media (max-width: 992px) {
	.image10 .header{
		border-bottom:1px solid rgba(255,255,255,0.2);
		padding-top: .25rem;
		padding-bottom: .25rem;
		background:  #4c676e !important;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	}
}
@media (min-width: 992px) {
	.image10 .sticky-wrapper.is-sticky .hor-menu{
		background:#37374a !important ;
		box-shadow:0 2px 2px 0 rgba(0,0,0,.2);
	}
	.image10 .sticky-wrapper.is-sticky .horizontalMenu{
		background:none;
		box-shadow:none;
		border:0;
	}
}
.image10 .app-content .header-fixed{
	background:#37374a !important;
}
.body-dark.image10 .app-content .header-fixed{
	background:#37374a !important;
}

/*////////////////////  FULL-WIDTH  //////////////////////*/

.full-width .container{  
    max-width:inherit !important;
	width:95% !important;	
	transition:all 0.5s ease;
}



/*////////////////////  CARD-COLOR  //////////////////////*/

.light-color .card{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    background-clip: border-box;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}
.light-color .horizontalMenu{
    background: rgba(255,255,255,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,0.2);
}
.light-color .header .form-inline .form-control {
    border-color: rgba(255,255,255,0.1);
	background: rgba(255,255,255,0.2);
}
.light-color .footer{
	background: rgba(255,255,255,0.2);
	border-top: 1px solid rgba(225, 225, 225, 0.2);
}
.light-color .card:hover {
	box-shadow:0 16px 26px 0 rgb(0,0,0,0.09), 0 3px 6px 0 rgb(0,0,0,0.09);
}
.light-color .socailicons i {
    font-size: 126px;
    text-align: right;
    position: absolute;
    top: -21px;
    right: -29px;
    overflow: hidden;
    padding: 12px;
    border-radius: 0 0 0 34%;
    outline: none;
    color: rgb(0, 0, 0,0.2);
    text-shadow: none;
    z-index: 0;
}
.light-color .wrap-login100 {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 137px 130px 137px 95px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.06);
}
@media only screen and (max-width: 991px){
	.light-color .page-header {
		background: rgba(255,255,255,0.2);
		border-radius: 3px;
		padding: 15px;
	}
}
.light-color .countdown-timer-wrapper .timer .timer-wrapper .time {
	background:linear-gradient(to bottom right ,rgb(255,255,255,0.2),rgb(255,255,255,0.2)); 
	border:1px solid rgba(255,255,255,0.1);
}
 .light-color .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: rgba(255,255,255, 0.2);
}
.light-color  .cbp_tmtimeline>li .cbp_tmlabel {
    background: rgba(255,255,255, 0.2);
}
 .light-color .cal1 .clndr .clndr-table tr .day.event, .cal1 .clndr .clndr-table tr .day.my-event {
    background: rgba(0, 0, 0, 0.3);
}
.light-color .richText .richText-toolbar {
    background: rgba(0,0,0,0.3);
}
 .light-color .note-popover .popover-content, .card-header.note-toolbar {
    background: rgba(0,0,0,0.3);
}
.light-color .example-bg {
    background: rgba(0,0,0, 0.1);
}
.light-color .horizontal-main2 .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: rgba(255, 255, 255);
    background: rgba(0,0,0,0.3);
}
.light-color .productdec {
    background: rgba(0,0,0,0.3);
}
.light-color .panel.price {
    background: rgba(255, 255, 255,0.2);
}
.light-color .fc-bgevent-skeleton .fc-bgevent {
    background-color: rgba(255,255,255,0.4) !important;
}
.light-color .jumbotron {
    background-color: rgba(0,0,0,0.3);
}
.light-color .bg-gray {
    background: #75838a !important;
}
.light-color .header .form-inline .form-control{
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.2);
}
.light-color .demo-icon.bg_dark{
	background-color:#fff;
}
.light-color .demo-icon i{
	color:#000;
}
.light-color .access-container{
	background:rgba(255,255,255,0.2);
	border:1px solid rgba(255,255,255,0.2);
}
.sticky-wrapper.is-sticky .header{
	background: #2c2c3b;
}
.body-dark{
	background:#37374a;
}
.body-dark #global-loader{
	background:#37374a;
}