.confirmation-table{	
}

.plan-table-main{	
	display: inline-block;/* 
	background: #ff8040; */
	width: 30%;
	height: 8em; 
	margin-bottom: 3em; 
}

.pay-table-main{	
	display: inline-block;/* 
	background: #ff8040; */
	width: 30%;
	height: 8em; 
	margin-bottom: 3em; 
}
