.list-grid {
	display: inline-block; /* 
	background: #ff8040; */
	width: 90%;
	margin-bottom: 3em;
	max-height: 400px;
	overflow: auto;
	border-radius: 5px 5px 5px 5px;
}

.list-grid p {
	display: inline-block;
	position: static;
}

.table-list {
	overflow: auto;
	max-height: 200px;
	border-radius: 5px 5px 5px 5px;
}

.table-body {
	overflow: auto;
	max-height: 200px;
	background: #ff8040;
}

.table-body tr, th{
	text-align: left;
	background: #2c517a;
	padding: 5px 100px 5px 50px;
	color: #d8d8d8;
	border: 1px solid;
	border-color: #1b1d23;	
	border-radius: 5px 5px 5px 5px;
}

.table-body td {
	background: #4d5266;
	text-align: left;
	padding: 5px 15px 5px 30px;
	color: #ffffff;
	border: 1px solid;
	border-color: #1b1d23;
	border-radius: 5px 5px 5px 5px;
}